<style>

</style>
<template>
    <v-form ref="form" v-model="valid" lazy-validation v-on:submit.prevent>
        <v-container style="height: calc(100vh - 50px); max-height: 600px; min-height: 500px">
            <v-layout align-center justify-center row fill-height>
                <v-flex xs12 sm6 class="text-xs-center px-5">
                    <i class="material-icons mb-3 grey--text text--darken-3 noselect" style="font-size: 80px">face</i>
                    <p class="text-xs-justify grey--text text--darken-2 noselect">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aspernatur at cumque deserunt, dolores doloribus ducimus earum enim est id iusto laborum molestias, praesentium quos sed unde vero, voluptatum. Voluptatem.</p>
                </v-flex>

                <v-flex xs12 sm6>
                    <v-layout row wrap class="pr-3">
                        <v-flex xs12>
                            <p class="display-1 font-weight-medium text-xs-center mb-5 grey--text text--darken-3">Iniciar sesión</p>
                        </v-flex>
                        <v-flex xs12>
                            <v-text-field box label="Email" prepend-inner-icon="email" :rules="emailRules" v-model="email" required></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-text-field box label="Contraseña" :append-icon="show_pass ? 'visibility' : 'visibility_off'" prepend-inner-icon="lock" :rules="passwordRules" :type="show_pass ? 'text' : 'password'" @click:append="show_pass = !show_pass" v-model="password" required></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-btn block depressed round color="primary" dark style="height: 50px" type="submit" @click="validate">Entrar</v-btn>
                        </v-flex>
                        <v-flex xs12 class="text-xs-center">
                            <v-btn depressed color="transparent" class="black--text body-1 font-weight-regular text-none mt-5" to="/register">
                                Crear una cuenta
                                <v-icon right dark>arrow_right_alt</v-icon>
                            </v-btn>
                        </v-flex>
                    </v-layout>
                </v-flex>
            </v-layout>
        </v-container>
    </v-form>
</template>


<script>
    import axios from 'axios'

    export default {
        data () {
            return {
                valid: false,
                show_pass: false,
                email: '',
                password: '',

                emailRules: [
                    v => !!v || 'El e-mail es obligatorio',
                    v => /.+@.+/.test(v) || 'El e-mail debe ser valido'
                ],
                passwordRules: [
                    v => !!v || 'La contraseña es obligatoria',
                    v => (v && v.length >= 6) || 'La contraseña debe contener al menos 6 caracteres'
                ],
            }
        },
        methods: {
            validate: function() {
                if (this.$refs.form.validate()) {
                    this.login(this.email, this.password)
                }
            },
            login: function(email, password) {
                axios.post('/login', {
                    email: email,
                    password: password
                }).then(response => {
                    window.location.href = '/home';
                }).catch(error => {
                    let res = error.response.data.errors; // Obtenemos la respuesta
                    let message = res[Object.keys(res)[0]][0]; // Obtenemos el error
                    EventBus.$emit('showSnackbar', message); // Mostramos el error
                });
            }
        }
    }
</script>
