<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div>
        <v-navigation-drawer v-model="sidebar_drawer" :clipped="sidebar_clipped" app enable-resize-watcher light>
            <v-card img="/img/bg1.png" height="150" class="elevation-0 text-xs-center">
                <p class="display-2 white--text font-weight-thin" style="padding-top: 40px;">Panel</p>
            </v-card>

            <v-list class="pt-3" dense>
                <v-list-tile to="/" @click="">
                    <v-list-tile-action>
                        <v-icon>dashboard</v-icon>
                    </v-list-tile-action>

                    <v-list-tile-content>
                        <v-list-tile-title>Resumen</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>

                <v-list-tile to="/users" v-show="user_rol === 1">
                    <v-list-tile-action>
                        <v-icon>group</v-icon>
                    </v-list-tile-action>

                    <v-list-tile-content>
                        <v-list-tile-title>Usuarios</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>

                <v-list-tile to="/reports">
                    <v-list-tile-action>
                        <v-icon>receipt</v-icon>
                    </v-list-tile-action>

                    <v-list-tile-content>
                        <v-list-tile-title>Reportes</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>


            </v-list>
        </v-navigation-drawer>
        <v-toolbar color="blue lighten-1" app fixed dark :clipped-left="sidebar_clipped" class="elevation-1">
            <v-toolbar-side-icon @click.stop="sidebar_drawer = !sidebar_drawer"></v-toolbar-side-icon>

            <v-text-field label="Encuentre funciones rápidamente escribiéndolas aquí" background-color="#2196f3" solo-inverted flat hide-details class="nav-input-search"></v-text-field>

            <v-spacer></v-spacer>

            <v-menu offset-y origin="center center" transition="slide-y-transition" :close-on-content-click="false">
                <template v-slot:activator="{ on }">
                    <v-btn small outline fab color="white" v-on="on">
                        <v-icon>person_outline</v-icon>
                    </v-btn>
                </template>
                <v-list>
                    <v-list-tile @click="logout">
                        <v-list-tile-title>Cerrar sesión</v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-menu>

            <v-menu offset-y open-on-hover origin="center center" transition="scale-transition" :close-on-content-click="false">
                <template v-slot:activator="{ on }">
                    <v-btn small outline fab color="white" v-on="on">
                        <v-icon>help_outline</v-icon>
                    </v-btn>
                </template>
                <v-card>
                    <v-card-text>
                        <p class="text-xs-center body-2"><b>Desarrollador</b></p>
                        <p class="text-xs-center body-1 ma-0">Adriel Guerrero</p>
                        <p class="text-xs-center caption font-italic ma-0">Proyecto de prueba</p>
                        <p class="text-xs-center caption mt-3">adriel.guerrero@uabc.edu.mx</p>
                    </v-card-text>
                </v-card>
            </v-menu>
        </v-toolbar>
    </div>
</template>


<script>
    import axios from 'axios'

    export default {
        data() {
            return {
                sidebar_drawer: null,
                sidebar_clipped: false
            }
        },
        props: {
            user_rol: Number
        },
        created: function() {

        },
        methods: {
            logout: function() {
                axios.post('/logout').then(response => {
                    window.location.href = '/';
                }).catch(error => {
                    EventBus.$emit('showSnackbar', "Ocurrió un error al intentar cerrar sesión");
                });
            }
        },
        mounted() {
        }
    }
</script>
