.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#app {
    background: rgba(67,92,192,1);
    background: -moz-linear-gradient(45deg, rgba(67,92,192,1) 0%, rgba(204,78,191,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(67,92,192,1)), color-stop(100%, rgba(204,78,191,1)));
    background: -webkit-linear-gradient(45deg, rgba(67,92,192,1) 0%, rgba(204,78,191,1) 100%);
    background: -o-linear-gradient(45deg, rgba(67,92,192,1) 0%, rgba(204,78,191,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(67,92,192,1) 0%, rgba(204,78,191,1) 100%);
    background: linear-gradient(45deg, rgba(67,92,192,1) 0%, rgba(204,78,191,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#435cc0', endColorstr='#cc4ebf', GradientType=1 );
}

.btn-login {
    background: rgba(204,78,191,1);
    background: -moz-linear-gradient(left, rgba(204,78,191,1) 0%, rgba(67,92,192,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(204,78,191,1)), color-stop(100%, rgba(67,92,192,1)));
    background: -webkit-linear-gradient(left, rgba(204,78,191,1) 0%, rgba(67,92,192,1) 100%);
    background: -o-linear-gradient(left, rgba(204,78,191,1) 0%, rgba(67,92,192,1) 100%);
    background: -ms-linear-gradient(left, rgba(204,78,191,1) 0%, rgba(67,92,192,1) 100%);
    background: linear-gradient(to right, rgba(204,78,191,1) 0%, rgba(67,92,192,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc4ebf', endColorstr='#435cc0', GradientType=1 );
}

/* Trancisiones para vue-router */
.fade-enter-active,
.fade-leave-active {
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
    opacity: 0
}
