<template>
    <v-snackbar v-model="snackbar" top right>
        {{ text }}
        <v-btn color="blue" flat @click="snackbar = false">Cerrar</v-btn>
    </v-snackbar>
</template>


<script>
    export default {
        data () {
            return {
                snackbar: false,
                text: 'test'
            }
        },
        methods: {
            showSnackbar: function(msg) {
                this.text = msg;
                this.snackbar = true;
            }
        },
        mounted() {
            EventBus.$on('showSnackbar', (type, msg) => {
                this.showSnackbar(type, msg);
            });
        }
    }
</script>
