<template>
    <div class="pa-5">
        <p class="display-2 font-weight-light text-xs-center">¡Bienvenido!</p>
    </div>
</template>

<script>
    export default {
        data() {
            return {

            }
        },
        created: function() {

        },
        methods: {

        },
        mounted() {
        }
    }
</script>
