<template>
    <div class="pa-5">
        <v-toolbar flat color="transparent">
            <v-toolbar-title>Mis Reportes</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" max-width="500px" persistent>
                <template v-slot:activator="{ on }">
                    <v-btn color="primary" dark class="mb-2" v-on="on">Añadir reporte</v-btn>
                </template>
                <v-card>
                    <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                    </v-card-title>

                    <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12 sm6>
                                    <v-text-field v-model="editedItem.author" label="Autor"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6>
                                    <v-text-field v-model="editedItem.date" label="Fecha" mask="####-##-##" return-masked-value placeholder="AAAA-MM-DD"></v-text-field>
                                </v-flex>
                                <v-flex xs12>
                                    <v-textarea counter="100" label="Descripción" v-model="editedItem.description"></v-textarea>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click="close">Cancelar</v-btn>
                        <v-btn color="blue darken-1" flat @click="save">Guardar</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-toolbar>

        <v-data-table :headers="headers" :items="reports" class="elevation-1">
            <template v-slot:items="props">
                <td>{{ props.item.id }}</td>
                <td>{{ props.item.author }}</td>
                <td>{{ props.item.date }}</td>
                <td class="text-truncate">{{ props.item.description }}</td>
                <td class="text-xs-right">
                    <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
                    <v-icon small @click="deleteItem(props.item)">delete</v-icon>
                </td>
            </template>
        </v-data-table>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        data() {
            return {
                dialog: false,
                headers: [
                    {
                        text: 'ID',
                        align: 'left',
                        value: 'id'
                    },
                    { text: 'Autor', value: 'author' },
                    { text: 'Fecha', value: 'date' },
                    { text: 'Descripción', value: 'description' },
                    { text: 'Acciones', align: 'right', value: 'actions', sortable: false }
                ],
                reports: [],
                editedIndex: -1,
                editedItem: {
                    id: '',
                    author: '',
                    date: '',
                    description: ''
                },
                defaultItem: {
                    id: '',
                    author: '',
                    date: '',
                    description: ''
                }
            }
        },
        computed: {
            formTitle () {
                return this.editedIndex === -1 ? 'Nuevo reporte' : 'Editar reporte'
            },
            parseDate() {

            }
        },

        watch: {
            dialog (val) {
                val || this.close()
            }
        },

        created () {
            this.initialize()
        },

        methods: {
            initialize () {
                axios.get('/reports').then(response => { // Obtener reportes
                    this.reports = response.data;
                }).catch(error => {
                    EventBus.$emit('showSnackbar', "Ocurrió un error al obtener los reportes");
                });
            },

            editItem (item) {
                this.editedIndex = this.reports.indexOf(item);
                this.editedItem = Object.assign({}, item);
                this.dialog = true
            },

            deleteItem (item) {
                const index = this.reports.indexOf(item);
                let c = confirm('¿Realmente deseas borrar este reporte?');

                if(c) {
                    axios.post('/reports/delete/'+item.id).then(response => {
                        this.reports.splice(index, 1);
                        EventBus.$emit('showSnackbar', "Reporte eliminado correctamente");
                    }).catch(error => {
                        EventBus.$emit('showSnackbar', "Ocurrió un error al intentar eliminar un reporte");
                    });
                }
            },

            close () {
                this.dialog = false;
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem);
                    this.editedIndex = -1
                }, 300)
            },

            save () {
                if (this.editedIndex > -1) { // Editar
                    axios.post('/reports/update/'+this.editedItem.id, {
                        author: this.editedItem.author,
                        date: this.editedItem.date,
                        description: this.editedItem.description
                    }).then(response => {
                        Object.assign(this.reports[this.editedIndex], this.editedItem);
                        EventBus.$emit('showSnackbar', "Reporte editado correctamente");
                        this.close();
                    }).catch(error => {
                        let res = error.response.data.errors; // Obtenemos la respuesta
                        let message = res[Object.keys(res)[0]][0]; // Obtenemos el error
                        EventBus.$emit('showSnackbar', message); // Mostramos el error
                        //EventBus.$emit('showSnackbar', "Ocurrió un error al intentar editar un reporte");
                    });
                } else { // Añadir
                    axios.post('/reports/create', {
                        author: this.editedItem.author,
                        date: this.editedItem.date,
                        description: this.editedItem.description
                    }).then(response => {
                        this.editedItem.id = response.data; // Obtenemos el ID del nuevo registro
                        this.reports.push(this.editedItem);
                        EventBus.$emit('showSnackbar', "Reporte añadido correctamente");
                        this.close();
                    }).catch(error => {
                        let res = error.response.data.errors; // Obtenemos la respuesta
                        let message = res[Object.keys(res)[0]][0]; // Obtenemos el error
                        EventBus.$emit('showSnackbar', message); // Mostramos el error
                        //EventBus.$emit('showSnackbar', "Ocurrió un error al intentar añadir un reporte");
                    });
                }
            }
        }
    }
</script>
