<template>
    <div class="pa-5">
        <v-toolbar flat color="transparent">
            <v-toolbar-title>Usuarios</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" max-width="500px" persistent>
                <template v-slot:activator="{ on }">
                    <v-btn color="primary" dark class="mb-2" v-on="on">Añadir usuario</v-btn>
                </template>
                <v-card>
                    <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                    </v-card-title>

                    <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12 sm6>
                                    <v-text-field v-model="editedItem.username" label="Usuario"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6>
                                    <v-text-field v-model="editedItem.email" label="Email"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6>
                                    <v-text-field v-model="editedItem.password" label="Contraseña" :hint="(editedIndex === -1) ? '' : 'Deja en blanco para no modificar'"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6>
                                    <v-select v-model="editedItem.rol" :items="rols" item-text="name" item-value="rol" label="Rol"></v-select>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click="close">Cancelar</v-btn>
                        <v-btn color="blue darken-1" flat @click="save">Guardar</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-toolbar>

        <v-data-table :headers="headers" :items="users" class="elevation-1">
            <template v-slot:items="props">
                <td>{{ props.item.id }}</td>
                <td>{{ props.item.username }}</td>
                <td>{{ props.item.email }}</td>
                <td>{{ props.item.rolname }}</td>
                <td class="text-xs-right">
                    <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
                    <v-icon small @click="deleteItem(props.item)">delete</v-icon>
                </td>
            </template>
        </v-data-table>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        data() {
            return {
                dialog: false,
                headers: [
                    {
                        text: 'ID',
                        align: 'left',
                        value: 'id'
                    },
                    { text: 'Usuario', value: 'username' },
                    { text: 'Email', value: 'email' },
                    { text: 'Rol', value: 'rolname' },
                    { text: 'Acciones', align: 'right', value: 'actions', sortable: false }
                ],
                users: [],
                rols: [],
                editedIndex: -1,
                editedItem: {
                    id: '',
                    username: '',
                    email: '',
                    password: '',
                    rolname: ''
                },
                defaultItem: {
                    id: '',
                    username: '',
                    email: '',
                    rolname: ''
                }
            }
        },
        computed: {
            formTitle () {
                return this.editedIndex === -1 ? 'Nuevo usuario' : 'Editar usuario'
            }
        },

        watch: {
            dialog (val) {
                val || this.close()
            }
        },

        created () {
            this.initialize();
        },

        methods: {
            initialize () {
                axios.get('/rols').then(response => { // Obtener roles
                    this.rols = response.data;
                }).catch(error => {
                    EventBus.$emit('showSnackbar', "Ocurrió un error al obtener los roles");
                });

                axios.get('/users').then(response => { // Obtener usuarios
                    this.users = response.data;
                }).catch(error => {
                    EventBus.$emit('showSnackbar', "Ocurrió un error al obtener los usuarios");
                });
            },

            editItem (item) {
                this.editedIndex = this.users.indexOf(item);
                this.editedItem = Object.assign({}, item);
                this.dialog = true
            },

            deleteItem (item) {
                const index = this.users.indexOf(item);
                let c = confirm('¿Realmente deseas borrar este usuario?');

                if(c) {
                    axios.post('/users/delete/'+item.id).then(response => {
                        this.users.splice(index, 1);
                        EventBus.$emit('showSnackbar', "Usuario eliminado correctamente");
                    }).catch(error => {
                        EventBus.$emit('showSnackbar', "Ocurrió un error al intentar eliminar un usuario");
                    });
                }
            },

            close () {
                this.dialog = false;
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem);
                    this.editedIndex = -1
                }, 300)
            },

            save () {
                if (this.editedIndex > -1) { // Editar
                    axios.post('/users/update/'+this.editedItem.id, {
                        username: this.editedItem.username,
                        email: this.editedItem.email,
                        password: this.editedItem.password,
                        rol: this.editedItem.rol
                    }).then(response => {
                        this.editedItem.rolname = response.data;
                        Object.assign(this.users[this.editedIndex], this.editedItem);
                        EventBus.$emit('showSnackbar', "Usuario editado correctamente");
                        this.close();
                    }).catch(error => {
                        let res = error.response.data.errors; // Obtenemos la respuesta
                        let message = res[Object.keys(res)[0]][0]; // Obtenemos el error
                        EventBus.$emit('showSnackbar', message); // Mostramos el error
                        //EventBus.$emit('showSnackbar', "Ocurrió un error al intentar editar un usuario");
                    });
                } else { // Añadir
                    axios.post('/users/create', {
                        username: this.editedItem.username,
                        email: this.editedItem.email,
                        password: this.editedItem.password,
                        rol: this.editedItem.rol
                    }).then(response => {
                        this.editedItem.id = response.data.id; // Obtenemos el ID del nuevo registro
                        this.editedItem.rolname = response.data.rolname;
                        this.users.push(this.editedItem);

                        EventBus.$emit('showSnackbar', "Usuario añadido correctamente");
                        this.close();
                    }).catch(error => {
                        let res = error.response.data.errors; // Obtenemos la respuesta
                        let message = res[Object.keys(res)[0]][0]; // Obtenemos el error
                        EventBus.$emit('showSnackbar', message); // Mostramos el error
                        //EventBus.$emit('showSnackbar', "Ocurrió un error al intentar añadir un usuario");
                    });
                }
            }
        }
    }
</script>
